.card{
    border: none;
}
.articlescard .card-body{
    background-color: #F5D9DD;
    padding: 20px 50px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.35);
}
.articlestitle{
    margin-top: 10px;
    text-align: left;
}
.articlesresum{
    text-align: justify;
    font-size: 1.2em;
    padding-right: 30px;
}
.articleslink{
    position: relative;
    top: 10px;
    font-size: 1.2em;
    text-align: left;
    color: #CD4153;
    margin-bottom: 10px;
}
.articlesimg{
    object-fit: cover;
    width: 12em!important;
    height: 12em!important;
}
.articlescard {
    padding: 20px;
}
