.navbar{
    background-color: #CD4153;
}
.me-auto{
    margin-left: auto!important;
    margin-right: 0px!important;
}
.nav-link{
    color: white;
    font-size: 1.2em;
}
.content {
    padding-bottom: 150px; /* Ajustez cette valeur en fonction de la hauteur de votre footer */
}
